{
  "presets": [
    "@babel/env",
    "@babel/typescript",
    "@babel/preset-react"
  ],
  "plugins": [
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-proposal-object-rest-spread",
    "@babel/plugin-transform-runtime",
    "@babel/plugin-transform-react-constant-elements",
    "@babel/plugin-transform-modules-commonjs"
  ]
}
